<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hfz.svoeoggau.at.hundatfuenfazwanzg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_short">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activities.PersonActivity"
            android:label="@string/person">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activities.ArticleActivity"
            android:label="@string/article">
        </activity>
        <activity
            android:name=".activities.PersonChooserActivity"
            android:label="@string/choose_person">
        </activity>
        <activity
            android:name=".activities.ArticleChooserActivity"
            android:label="@string/choose_article">
        </activity>
        <activity
            android:name=".activities.SaleActivity"
            android:label="@string/title_sale">
        </activity>
        <activity
            android:name=".activities.PayActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/pay">
        </activity>
        <activity
            android:name=".activities.SaleMenuActivity"
            android:label="@string/choose_day">
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>